@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
    &__image
      width: 230px
      height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &-wrapper
      width: auto
    &__form
      width: auto
    &__logo
      margin-top: 0
    &__categories
      margin-left: 0
    &__social    
      &-network
        margin-left: 0
    &__additional
      margin-left: 0
    &__contact
      &-details
        margin-top: 0
        margin-left: 0
      &-form
        grid-column: span 2
        margin-left: 0
    &__bottom
      &-images
        margin-right: 0
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
    width: 92%
  .logo
    width: 132px
    &:hover
        box-shadow: none
  .modal
    &__dialog
      padding: 33px 44px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
        &:hover
          box-shadow: none
  .search
    &__input
       width: 340px
    &__button
        &:hover
          box-shadow: none
  .user
    &:hover
      box-shadow: none
  .breadcrumb
    &-list
      &__link
        &:hover
          box-shadow: none

  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
      &__image
        width: 100%
      &__button
        &:hover
          box-shadow: none
  .booking
    width: 48%
    &__button
      &:hover
        box-shadow: none
  .map
    width: 48%
  .subscribe
    &__button
      &:hover
        box-shadow: none
  .reviews
    &-slider
      &__item
        max-width: 580px 
      &__button
        &:hover
          box-shadow: none
    &__title
      font-size: 30px
      line-height: 38px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
    &__title
      margin-bottom: 57px
  .card
    flex-basis: 48%
    &__image
      width: 100%
      height: 250px
    &__button
      &:hover
        box-shadow: none
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 40px
    &-link
      &:hover
        box-shadow: none
    &__link
      &:hover
        box-shadow: none
    &__input
      &-group
        flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
       grid-row: 1 / 2
       grid-column: 3 / 6
       align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
    &__phone, &__email
      &:hover
        box-shadow: none
    &__bottom
      &-wrapper
        width: 100%
        justify-content: flex-end
        grid-column: span 6
      &-block
        padding-left: 0
      &-item
        &:hover
          box-shadow: none
      &-images
        object-fit: cover
        height: 22px
        width: 136px
    &__button
      &:hover
        box-shadow: none
            
@media (max-width: 768px)
  body
    padding-top: 100px
  .container, .newsletter-wrapper
    max-width: 576px
    width: 92%
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 8
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column   
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      top: 70px
      bottom: 0
      padding-top: 30px
      max-height: 100vh
      overflow-y: auto
      &--visible
        display: block 
    &-menu    
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--white
        color: $white
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 60px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
    &-right
      flex-direction: column
    &-slider
      height: 350px
      margin-bottom: 20px
  .booking
    width: 100%
    &__moving
      margin-bottom: 20px
  .map
    width: 100%
    &__preloader>img
      width: 100%
  .newsletter
    &__title
      padding: 76px 0 83px 0
    &-wrapper
     min-height: 160px
     flex-direction: column 
     align-items: flex-start
     justify-content: space-between
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 45px
        &--prev
          left: 25%
        &--next
          right: 25%
    &__title
      font-size: 18px
      line-height: 23px
      margin-top: 0
      margin-bottom: 40px
  .activities
    padding-top: 0
    padding-bottom: 60px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    flex-basis: 100%
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__bottom
      &-wrapper
        justify-content: space-between
        align-items: flex-end
      &-block
        align-self: flex-end
        grid-row: 5
        flex-basis: 50%
  .modal__dialog
    &--mobile
      &--fixed
        position: fixed
        padding: 33px 30px
        left: 50%
        top: 50%
        width: 90%
        max-height: 100vh
        overflow-y: auto
        transform: translate(-50%, -50%)
  .modal
    &__info
      margin-top: 10px
@media (max-width: 576px)
  body
    padding-top: 58px
  .container
    width: 88%
  .navbar
    &-top
      padding-top: 22px
      &__menu
        &-button
          margin-top: 4px
  .logo
    width: 99px
  .search
    &__input
      width: 250px
  .breadcrumb
    &-list
      padding-top: 30px
      padding-bottom: 6px
  .hotel
    padding-bottom: 32px
    &-info
      margin-bottom: 18px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 180px  
  .map
    height: 180px
  .newsletter
    padding-top: 76px
    padding-bottom: 85px
    &-wrapper
      width: 88%
    &-title
      margin: 0
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      padding-top: 0
      padding-bottom: 32px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 46px
  .reviews
    padding-top: 38px
    &__title
      display: block
      width: 80%
      margin: auto
      padding-bottom: 40px
    &-slider
      &__item
        padding: 0 32px 30px 32px
      &__text
        text-align: left
      &__button
        &--prev
          left: 12%
        &--next
          right: 12%
  .activities
    padding-bottom: 40px
    &__title
      margin-top: -38px
  .card
    height: 256px
  .subscribe
    width: 100%
    &__input
      // width: 100%
  .footer
    padding-top: 66px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        margin: 0 0 24px 0
        flex-basis: 100%
      
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-wrap: wrap
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 10px
      &-form
        grid-row: 7
        grid-column: 1
    &__icon
      &-wrapper
        min-width: 30px
    &__info
      flex-basis: 100%
      margin-bottom: 15px
      margin-top: -10px
    &__form
      margin-top: -10px
      margin-bottom: 0
    &__button
      order: 1
    &__bottom
      &-wrapper
        margin-top: -20px
        grid-row: 8
        grid-column: 1
        flex-direction: column  
        justify-content: flex-start
      &-block
        align-self: flex-start
      &-item
        font-size: 11px
      &-images
        align-self: flex-start
        object-fit: contain
        flex-basis: 22px

@media only screen and (max-width : 768px) 
  .animated 
    /*CSS transitions*/
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    /*CSS transforms*/
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    /*CSS animations*/
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important
  

   
    




     
        



  

    

